body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.wolcome_section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.half_of_welcome {
    width: 50%;
    /*margin-top: 20px;*/
}

.robin {
    color: #FFA500;
}

.linker {
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

p {
    text-align: justify;
    color: #696969;
}

h3 {}

img {
    width: 100%;
}