body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.wolcome_section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.container {
    width: 90%;
    margin: auto;
    display: flex;
}

.welcome {}

.half_of_welcome {
    width: 50%;
    /*margin-top: 20px;*/
    padding: 20px;
}

.robin {
    color: #FFA500;
}

.linker {
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(#FF926E, #FF694C);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

h1 {
    font-size: 40px;
}

p {
    text-align: justify;
    color: #696969;
}

h3 {}

img {
    width: 80%;
    padding-left: 20px;
}

.dream_section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}